<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<title>Profile</title>


</head>
<body>
	<h1>hello,
	</h1>
	<h1>What's the Weather?!</h1>

	<form method="POST" action="/locations">
		<input type="text" name="city" placeholder="City">
		<button>Search</button>
	</form>

	<button><a href="http://localhost:8000/logout">Logout</a></button>
</body>
</html>