<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
	<title>Profile</title>

<style>
h1 {
	font-size: 175px;
	
}

.topbar {
	background-color: #011c28;
	height: 55px;
	padding-top: 10px;
	padding-right: 20px;
	text-align: right;
}

#username {
	font-size: 18px;
	float: left;
	color: white;
	margin-top: 4px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;

	
}

.content {
	display: inline-block;
}




h2 {
	margin-top: -10px;
	font-size: 45px;
}

.weather {
	text-align: center;

}

.navbar-form {
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;

}

#search {
	width: 500px;
}





</style>


</head>
<body>
	<div class="topbar">
		<div class="content">
			<p id="username">Welcome to Sweatherman,<% if (user) { %>
				<%= user.username %>
				<% } %>
			</p>
		
		<button type="submit" class="btn btn-primary"><a href="http://localhost:8000/logout">Logout</a></button>
		</div>
	</div>

	<div class="weather">
		<h1>Hello.</h1>
		<h2>What's the Weather?</h2>

		<form class="navbar-form" role="search" method="GET" action="/results">
  <div class="form-group">
    <input id="search" type="text" class="form-control input-md" placeholder="City Name" name="city">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
	</div>
<ul>
 <% for (var i=0; i < locations.length; i++) { %>
 		<li><a href="http://localhost:8000/results?city=<%=locations[i].location%>"><%= locations[i].location %></a></li>
 <% } %>
</ul>
</body>
</html>