<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1>LOGIN</h1>
	<p>signed up and now logging in to personal account</p>

	<form name="login" method="POST" action="/sessions">
		<label>username:<input type="text" name="username"></label>
		<label>password:<input type="password" name="password"></label>
		<input type="submit" value="Submit">
	</form>
	
</body>
</html>